*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F8E12E;
    opacity: 0.97;
    background-image:  radial-gradient(#5fa199 1.8px, transparent 1.8px), radial-gradient(#5fa199 1.8px, #F8E12E 1.8px);
    background-size: 72px 72px;
    background-position: 0 0,36px 36px; 
}

header{
    min-height: 20vh;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.banner{
    width: 100%;
    max-height: 60vh;
    display: block;
    margin: auto;
    opacity: 0.90;
}

#titulo{
    width: 25%;
    position: absolute;
    top: 5vh;
    left: 25vh;
    
}

.nav{
    position: absolute;
    top: 4vh;
    right: 3vh;
    
}

nav a{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 2%, rgba(95,161,153,1) 65%);
    border: 2px solid black;
    height: max-content;
    width:12vh;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    box-shadow: 5px 5px rgba(88, 87, 87, 0.412);
    margin: 0;
}

.active{
    background-color: #F8E12E;
}

main{
    max-height: 80vh;
}

h2{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 2%, rgba(95,161,153,1) 65%);
    width: 100%;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 8px;
    align-self: flex-start;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}

.container1{
    display: flex;
    justify-content: space-between;
    width: 99%;
    padding-top: 5vh;
    
}

.figure{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 40%, rgba(95,161,153,1) 65%);
    opacity: 0.85;
    width: min-content;
    height:min-content;
    margin: 2vh;
}

.hockey1{
    width: 20vh;
}

.hockey{
    width: 26vh;
    margin: 3vh;

}

.articles{
    width: 75%;
    margin: 2vh 2vh 2vh 8vh;
}

.article{
    margin-bottom: 5vh;
}

h3{
    font-size:larger;
}

.parrafo{
    text-indent: 20px;
}

.blockquote{
    width: 75%;
    margin: 2vh 2vh 2vh 8vh;
}

dt{
    font-size: larger;
    font-weight: bold;
}

dd{
    text-indent: 5vh;
    margin-bottom: 3vh;
}

.contact{
    width: 75%;
    margin-left: 7vh;
    line-height: 7vh;
}

